/*font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'poppins' sans-serif;
}

/* couleurs*/
.prim-blue{
    color: #003D67;
}
.sec-blue{
    color: #52bcf5;
}     
.colgris{
    color: #9C9C9C;
}
.bggris{
    background-color: #F9F9FF;
}



/*Mes titres*/
.titresection{
    font-size: 1.725rem;
    color: #003D67;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
}




/*Ce qu'ils disent de nous*/

.hiring {
    background-image: url("../assets/Groupe 146.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.imgcard{
    position: absolute;
    top: -15%;
    width: 100%;
}
.cardcontent {
    font-size: 1rem;
    font-weight: 300;
    color: #9C9C9C;
    text-align: justify;
}
.cardname{
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}
.cardpost{
    font-size: 0.885rem;
    font-weight: 400;
}

/**/